<!doctype html>
<html>
  <head>
    {% block head %}
	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  	<link rel="stylesheet" href=" {{ url_for('static', filename='css/bootstrap.min.css') }}">

	    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
	 			<li class="nav-item active">
	    			<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	 			</li>
			  	<li class="nav-item">
			   		<a class="nav-link" href="#">Features</a>
			  	</li>
			 	<li class="nav-item">
			    	<a class="nav-link" href="#">Pricing</a>
			  	</li>
	  			<li class="nav-item dropdown">
	    			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown link</a>
	    			<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
	      				<a class="dropdown-item" href="#">Action</a>
					    <a class="dropdown-item" href="#">Another action</a>
					    <a class="dropdown-item" href="#">Something else here</a>
	    			</div>
	  			</li>
			</ul>
		</div>
	</nav>

    <div id="jumbotron jumbotron-fluid">{% block content %}{% endblock %}
	</div>



    <div id="footer">
      {% block footer %}
      &copy; Copyright 2018 by <a href="#">Jose sitanggang</a>.
      {% endblock %}
    </div>




	<script crossorigin
	  src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js')}}">
	</script>
	<script crossorigin
	  src="{{ url_for('static', filename='js/popper.min.js')}}">
	</script>
	<script crossorigin
	  src="{{ url_for('static', filename='js/bootstrap.min.js')}}">
	</script> 
  </body>
</html>
